* {
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
	color: #f7f7f7;
}

@font-face {
    font-family: Montserrat_Light;
    src: url(Montserrat-Light.otf) format("opentype");
  }

@font-face {
    font-family: Montserrat_Medium;
    src: url(Montserrat-Medium.otf) format("opentype");
  }

body {
	width: 100%;
	background: linear-gradient(45deg, #4C5C68, #A5CCD1);
}


.logo {
	padding-top: 7%;
	height: 30px;
	display: block;
	margin: 0 auto;
}
.container {
	width: 70%;
	margin: 0 auto;
	padding-top: 7%;
}
h1 {
	font-weight: 300;
    font-size: 2.4em;
    font-family: Montserrat_Medium;
}
p{
    font-weight: 300;
    font-family: Montserrat_Light;
}
.text {
	padding-top: 1.2em;
}
.left, .right {
	float: left;
	width: 40%;
	padding: 0 4.5% 0 4.5%;
}
.left {
	text-align: center;
	border-right: 1px solid #f7f7f7;
}
.clear {
	clear: both;
}
.block1 {
	display: block;
	margin-bottom: -1em;
}
.block2 {
	letter-spacing: 3em;
	text-indent: 3em;
	padding-bottom: 0.5em;
}
.day { /* Customize day digit appearance */
	font-size: 9em;
	font-weight: 300;
}
.hms { /* Customize hours, minutes and seconds digit appearance */
	font-size: 3.6em;
	padding-left: 0.2em;
	padding-right: 0.1em;
}
.social li{
	display: inline;
}
.social li img {
	height: 20px;
	padding-top: 2em;
}
.social li:nth-child(n+2) {
	padding-left: 1.2em;
}
.contactform {
	text-align: center;
	padding: 5% 0 15% 0;
}
input[type=text], select {
    width: 280px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #333;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.2);
}
form button {
	padding: 0.8em;
	border-radius: 6px;
	background: none;
	border: 1px solid #fff;
	color: #fff;
	font-size: 0.9em;
	cursor: pointer;
	font-weight: 300;
}
::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(255, 255, 255, 0.6);
   font-weight: 300;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: rgba(255, 255, 255, 0.6);
   font-weight: 300;
}
@media screen and (max-width: 750px) {
	.logo {
		padding-top: 12%;
	}
	.left, .right {
		width: 100%;
	}
	.left {
		border-right: none;
		padding-bottom: 1.5em;
	}
	h1 {
		text-align: center;
		padding-top: 10%;
	}
	.left, .right {
		padding: 5% 0 0 0;
	}
	.social-list {
	text-align: center;
	}
	button {
		margin-top: 1em;
	}
}